<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/main.css"/>
    <link rel="stylesheet" type="text/css" href="../static/benign.css"/>
    <title>Benign Website</title>
</head>
<body>

    <div class="message">
            <h3>You can safely proceed to 
                <a href="{{ url }}">{{ url }}</a>
            </h3>
        <a href="/">
            <button> Try another URL</button>
        </a>
    </div>

</body>
</html>